@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xjpnsf');
  src:  url('../fonts/icomoon.eot?xjpnsf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xjpnsf') format('truetype'),
    url('../fonts/icomoon.woff?xjpnsf') format('woff'),
    url('../fonts/icomoon.svg?xjpnsf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.style_font {
	font-family: 'icomoon';
}
.style_red {
	color: #c81623;
}
/*版心*/
.heart {
	width: 1200px;
	margin: 0 auto;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
.shoutcut {
	height: 30px;
	background-color: #f1f1f1;
	line-height: 30px;
}
.shoutcut li {
	float: left;
	font-size: 12px;
	color: #666;
	margin-right: 12px;
}
.shoutcut li a {
	margin-right: 10px;
}

.shoutcut li span {
	margin: 9px 3px 0 ;
}
.shout li i {
	margin-top: 12px;
	font-size: 12px;
}
.header {
	position: relative;
	height: 105px;
}
.logo {
	position: absolute;
	top: 27px;
	left: 3px;
	width: 171px;
	height: 61px;
	background: url(../img/logo.jpg) no-repeat;
}
.logo h1 {
	display: inline-block;

}
.logo a {
	display: inline-block;
	width: 171px;
	height: 61px;
	text-indent: -9999px;
	overflow: hidden;
}
.search{
	position: absolute;
	top: 27px;
	left: 348px;

}
.search input{
	width: 444px;
	height: 32px;
	font-size: 14px;
	color: #989898;
	padding-left: 10px;
	border: 2px solid  #c81623;
}
.search button {
	width: 80px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	border: none;
	background-color: #c81623;
}
.hotwrods {
	position: absolute;
	top: 70px;
	left: 347px;

}
.hotwrods  li {
	float: left;
}
.hotwrods  li a{
     font-size: 12px;
     margin: 0 10px;
}
.shopcar {
	position: absolute;
	top: 25px;
	right: 65px;
	width: 110px;
	color: #666;
	font-size: 12px;
	line-height: 35px;
	text-align: center;
	background-color: #f7f7f7;
	border: 1px solid #dfdfdf;
	padding: 0 15px;
}
.shopcar a {
    display: block;
    width: 110px;
	height: 35px;
}
.shopcar i {
	line-height: 35px;
	font-size: 12px;
}

.count {
	position: absolute;
	top: -9px;
	left: 105px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	background-color: #e60012;
	color: #fff;
	font-size: 8px;
	border-radius: 7px 7px 7px 0;
	padding: 0px 3px;
}
.nav {
	height: 45px;
	border-bottom: 2px solid #c81623;
}
.dorpdown {
	width: 209px;
	height: 45px;
}
.dt {
	height: 45px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	line-height: 45px;
	background-color: #b1191a;
}
.dd {
	margin-top: 2px;
	background-color: #c81623;
	height: 465px;
	padding-left:  1px;
}
.dd ul{
	display:block;
}
.dd ul li {
   display: block;
   padding-left: 11px;
   height: 31px;
   color: #fff;
}
.dd a{
	color: #fff;
   float: left;
   line-height: 31px;
    font-size: 14px;
}
.dd ul li:hover {
	background-color: #fff;
}
.dd ul li:hover a {
	color: #c81623;
}
.dd i {
	margin-right: 10px;
	float: right;
	line-height: 30px;
	font-family: 'icomoon'

}
.navitems {
    height: 45px;
	margin-left: 25px;
	font-size: 16px;
	color: #333;
}
.navitems li {
	float: left;
	height: 45px;
	margin: 0px 26px ;


}
.navitems li a {
	display: inline-block;
	margin-top: 11px;
}
/*footer start*/
.footer {
	height: 416px;
	background-color: #f5f5f5;
}
.mod_service {
	height: 107px;
	border-bottom: 1px solid #ededed;
}
.mod_service ul li {
	float: left;
	width: 210px;
	padding-left: 30px;
	margin-top: 28px;
	margin-bottom: 28px;
}
.mod_service h5 {
	margin-top: 5px;
	font-size: 14px;
	color: #5a5a5a;
}
.mod_service p {
	font-size: 12px;
	margin-top: 6px;
	color: #666;
}
.mod_service_bgc {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 3px;
	background: url(../img/icons.png) no-repeat;
}
.mod_service_zhen {	
	background-position: -253px -2px;
}
.mod_service_yun {
    background-position: -254px -54px;
}
.mod_service_bao {
    background-position: -257px -105px;
}
.mod_service_xin {
    background-position: -257px -157px;
}
.mod_service_wen {
    background-position: -257px -209px;
}
.mod_help {
	height: 185px;
	border-bottom: 1px solid #ededed;
}
.mod_help ul li {
	float: left;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 70px;
}

.mod_help_bd dt{
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}
.mod_help_bd dt a {
	height: 22px;
	font-size: 12px;
	color: #666;
}
.help_app img {
	float: left;
	margin-left: -11px;
}
.mod_copyright {
	height: 98px;
	padding-top: 20px;
	text-align: center;
}
.mod_copyright ul {
	 margin-left: 100px; 
}
.mod_copyright ul li {
	float: left;
}
.mod_copyright span {
	margin: 0 12px;
}