.crumb_wrap {
    height: 24px;
    margin-top: 22px;
}

.crumb_wrap i {
    margin: 0 15px;
}

.product_intro {
    overflow: hidden;
}

.preview_wrap {
    width: 400px;
}

.preview_img {
    position: relative;
    width: 398px;
    height: 400px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: move;
}

.move_box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: #DFAE46;
    opacity: .5;
}

.big_box {
    display: none;
    position: absolute;
    top: 0;
    right: -510px;
    z-index: 10;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #CCC;
}

.big_box img {
    position: relative;
}

.preview_list {
    position: relative;
    margin-top: 50px;
}

.preview_list .prevent {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -16px;
    width: 22px;
    height: 32px;
}

.preview_list .next {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -16px;
    width: 22px;
    height: 32px;
}

.preview_list ul {
    width: 328px;
    height: 60px;
    margin: auto;
}

.preview_list li {
    float: left;
    border: 1px solid transparent;
    margin: 0 3px;
}

.preview_list li:hover {
    border-color: #c81623;
}

.preview_list img {
    width: 56px;
    height: 56px;
}

.itemInfo_wrap {
    width: 719px;
    margin-bottom: 30px;
}

.itemInfo_wrap>h2 {
    height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.itemInfo_wrap>p {
    height: 36px;
    color: #e12228;
    font-size: 12px;
}

.summary {
    position: relative;
}

.summary dt {
    float: left;
    width: 50px;
    margin-left: 10px;
}

.summary dd {
    float: left;
    margin-left: 10px;
}

.summary_remark {
    position: absolute;
    top: 9px;
    right: 20px;
    color: #ccc;
    font-size: 10px;
}

.summary div {
    overflow: hidden;
}

.summary_price {
    background-color: #fee9eb;
    font-size: 12px;
}

.summary_price dl {
    height: 38px;
    line-height: 38px;
}

.summary_price i {
    font-size: 14px;
}

.summary_remark i {
    color: #1474af;
    font-size: 12px;
}

.summary_price em {
    font-size: 24px;
}

.summary_price dd {
    color: #e12228;
}

.summary_promotion {
    background-color: #fee9eb;
    line-height: 36px;
}

.summary_promotion i {
    width: 40px;
    height: 22px;
    color: #fff;
    line-height: 22px;
    text-align: center;
    background-color: #c81623;
    margin-right: 3px;
}

.summary_promotion dd {
    width: 555px;
    height: 70px;
}

.summary_support {
    height: 32px;
    margin-top: 12px;
}

.summary_stock {
    display: inline-block;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
}

.summary_stock dd {
    width: 460px;
    padding-right: 20px;
}

.choose {
    margin-top: 10px;
}

.choose a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    padding: 0 20px;
    vertical-align: middle;
    background-color: #f7f7f7;
    color: #000;
}

.choose dt {
    line-height: 36px;
}

.choose_amount {
    position: relative;
    float: left;
    margin-top: 10px;
    width: 50px;
}

.choose_amount input {
    line-height: 42px;
    text-align: center;
    width: 35px;
    height: 42px;
    border: 1px solid #ccc;
}

.add,
.reduce {
    position: absolute;
    right: 0px;
    width: 15px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    background-color: #bbb;
    border: 1px solid #ccc;
}

.add {
    top: 0;
}

.reduce {
    bottom: 0;
}

.addshopcar {
    float: left;
}

.addshopcar input {
    width: 142px;
    height: 44px;
    color: #FFF;
    background-color: #c81623;
    font-size: 18px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.forrdient:hover {
    cursor: not-allowed;
}