.list_dorpdown li{
	float: left;
}
.list_dorpdown p {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color:#000; 
	margin: 11px 25px;
}
.list_navitems {
	font-size: 14px;
	color: #666;
}
.list_navitems li {
	float: left;
	padding-top: 14px;
}
.list_navitems a {

	margin: 0 20px;

}
.sk_goods {
	display: inline-block;
	width: 288px;
	height: 458px;
	border: 1px solid transparent;
	margin-top: 25px;
}
.sk_goods:hover {
	border-color: #e12228;
}
.sk_goods img {
	display: block;
	margin: auto;
}
.sk_goods p {
	display: inline-block;
	margin: 0 12px;
	color: #666;
	font-size: 14px;
	margin-top: 10px;
}
.sk_goods_price {
	font-size: 14px;
	color: #e12228;
	margin-top: 15px;
	margin-left: 12px;
}
.sk_goods_price i {
	font-size: 22px;
}
.sk_goods_price del {
	color: #a4a4a4;
}
.sk_goods_progress {
	font-size: 14px;
	color: #666;
}
.bar {
	display: inline-block;
	width: 130px;
	height: 10px;
	border: 1px solid #e12228;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.bar_size {
	height: 10px;
	width: 87%;
	background-color: #e12228;
}
.sk_goods_progress i {
	color: #e12228;
}
.add_car a{
	display: block;
	height: 50px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	margin-top: 4px;
	background-color: #e12228;
}
.page {
	height: 36px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.page_num .more,
.page_num .current {
	background-color: #fff;
	border-color: transparent;
}

.page_num ul {
	display: inline-block;
}
.page_num ul li {
	float: left;
	margin-left: 10px;
}
.page_num a {
	display: inline-block;
	padding: 0 7px;
	text-align: center;
	line-height: 36px;
	border: 1px solid #666;
	background-color: #ccc;
	color: #666;

}
.page_jump {
	vertical-align: top;
	font-size: 12px;

}
.page_jump input {
    width: 46px;
    height: 36px;
    border: 1px solid #ccc;
    text-align: center;
}
.page_jump button {
	width: 54px;
    height: 36px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}